@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
      font-family: 'neueb';
      src: url('../public/fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype');
      /* Add additional font formats if needed */
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'neuelt';
      src: url('../public/fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype');
      /* Add additional font formats if needed */
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'neuemd';
      src: url('../public/fonts/HelveticaNeueLTStd-Md.ttf') format('truetype');
      /* Add additional font formats if needed */
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'neuerom';
      src: url('../public/fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype');
      /* Add additional font formats if needed */
      font-weight: normal;
      font-style: normal;
    }

  }

  @layer utilities {
    .snap {
      scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
    }
    .snap-y {
      --scroll-snap-direction: x;
    }
    .snap-mandatory {
      --scroll-snap-constraint: mandatory;
    }
    .snap-start {
      scroll-snap-align: start;
    }
  }